<%-include('header.ejs')%>
  
<h1>
  지원 목록
</h1>

<table border ="1">
  <tr>
    <th>ID</th>
    <th>이름</th>
    <th>학번</th>
    <th>전화번호</th>
    <th>이메일</th>
    <th>질문1</th>
    <th>질문2</th>
  </tr>

  <% applicants.forEach( applicant => { %>
    <tr>
      <td><%= applicant.id %></td>
      <td><%= applicant.name %></td>
      <td><%= applicant.student_number %></td>
      <td><%= applicant.phone_number%></td>
      <td><%= applicant.email %></td>
      <td><%= applicant.A1 %></td>
      <td><%= applicant.A2 %></td>
    </tr>
  <% }); %>

</table>

<a href="/">메인페이지로 돌아가기기</a>

<%-include('footer.ejs')%>